@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap%27');

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Quicksand', sans-serif;
}

.body {
	background-color: #fff;
}

.wrapper-desktop {
	display: none;
}
	/* Header */

.header-mobile {
	text-align: center;
	padding: 8px;
	position: fixed;
	background-color: #fff;
	width: 100%;
	top: 0;
}

.logo img {
	height: auto; 
	width: 80px;
}

.hero-pic {
	z-index: -1;
	margin-bottom: 15px;
	height: 300px;
	object-fit: cover;
}

ul {
	list-style: none;
}

.menu-off-canvas li {
	margin: 5px;
}

input[type=checkbox] {
	position: fixed;
	opacity: 0;
}

.menu-off-canvas {
	background-color: #fff;
	width: 150px;
	position: fixed;
	margin-right: -350px;
	right: 0px;
	height: 100%;
	padding: 30px 50px;
	font-size: 30px;
	transition: margin 0.5s;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nav-toggle-menu {
	display: block;
	position: fixed;
	top: 16px;
	right: 10px;
	height: 20px;
	width: 30px;
	cursor: pointer;
	z-index: 99;
	transition: all 0.2s;
}

.nav-toggle-menu span {
	position: relative;
	display: block;
	height: 2px;
	width: 30px;
	background-color: #000;
	transition: all 0.2s;
	top: 4px;
}

.nav-toggle-menu span:nth-child(2) {
	top:10px;
}

#nav-toggle-menu:checked ~ .nav-toggle-menu span:nth-child(1) {
	top: 12px;
	transform: rotate(-45deg);
}

#nav-toggle-menu:checked ~ .nav-toggle-menu span:nth-child(2) {
	transform: rotate(45deg);
}

#nav-toggle-menu:checked ~ .menu-off-canvas {
	margin-right: 0px;
}

.menu-off-canvas a:active { color: #000; }
.menu-off-canvas a:visited { color: #000; }
.menu-off-canvas a:hover { color: #000; border-bottom: 1px solid #000;}
.menu-off-canvas a:link { color: #000; text-decoration: none;}
	
	/* Shopping bag code */

.shopping-bag-off-canvas {
	width: 78%;
	position: fixed;
	margin-left: -500px;
	left: 0px;
	padding: 20px 50px;
	transition: margin 0.7s;
	background-color: #fff;
	border-bottom border-left: 1px solid;
}

.shopping-bag-off-canvas img {
	display: inline-block;
	width: 100%;
	margin-bottom: 4px;
}

.shopping-bag-off-canvas p {
	width: 100%;
	margin-bottom: 10px;
	font-size: 15px;
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
}

.text-shopping-bag {
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.checkout-button {
	width: 100%;
	display: flex;
	font-size: 16px;
	text-align: center;
	justify-content: space-around;
	align-content: center;
}

.checkout-button button {
	padding: 10px 30px; 
	border-radius: 4px;
}

.checkout-button button:hover {
	color: #fff;
}

.nav-toggle-shopping-bag {
	display: block;
	position: fixed;
	top: 5px;
	height: 32px;
	width: 40px;
	cursor: pointer;
	z-index: 99;
	transition: margin 1s;
}

.nav-toggle-shopping-bag img {
	position: fixed;
	display: block;
	height: 40px;
	width: 40px;
	transition: all 1s;
	z-index: 1;
}

#nav-toggle-shopping-bag:checked ~ .nav-toggle-shopping-bag {
	margin-left: 0px;
}

#nav-toggle-shopping-bag:checked ~ .nav-toggle-shopping-bag img {
	margin-left: 0px;
}

#nav-toggle-shopping-bag:checked ~ .shopping-bag-off-canvas {
	margin-left:0;
}

.product1-shopping-bag {
	height: auto;
	width: 100px;
}
	
	/* Slide items */

h2 {
	padding-left: 10px;
	margin-bottom: 10px;
}

.slide-items {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding-left: 10px;
}

.slide-items a {
	margin-right: 6px;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.product-background-slider {
	background-color: #EEE;
	padding: 20% 3% 15% 3%;
	margin-right: 8px;
	width: 150px;
}

.product-background-slider h6 h5 {
	background-color: #EEE;
	padding-left: 10px;
}

.product-background-slider h6 h5, a{
	color: #000;
	text-decoration: none;
}

.product-background-slider img {
	margin-bottom: 30px;
	width: 150px;
	height: 80px;
}

	/* Blog part */

.blog-post1 img {
	margin-top: 20px;
}

.blog-post1 p {
	padding: 10px 20px;
}

.blog-post1 h3 {
	text-align: center;
	margin-top: 25px;
}

.blog-post2 img {
	margin-top: 20px;
}

.blog-post2 p {
	padding: 10px 20px;
}

.blog-post2 h3 {
	text-align: center;
	margin-top: 25px;
}

.blog-post1 a { border-bottom: 1px solid #555; color: #555; }
.blog-post1 a:hover { color: #000; }

.blog-post2 a { border-bottom: 1px solid #555; color: #555; }
.blog-post2 a:hover { color: #000; }

	/* Footer */

.footer {
    grid-area: foot;
}

.footer-container {
    display: grid;
    background-color: #fff;
    margin: 20px auto 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(200px, 1fr));
    grid-template-areas:
    "foot"
    "foot"
    "foot"
    "foot"
    ;
 }

.footer {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: #eee;
}

.footer a {
    text-decoration: none;
    color: #000;
}

.footer a:hover {
    border-bottom: 1px solid #000;
}

.footer > div {
    margin: 10px;
    line-height: 2;
}

.footer h1 {
    font-size: 28px;
}


.footer-right {
    text-align: center;
}

.footer-logo {
    display: inline-block;
    margin-top: 12px;
    margin-right: 30px;
}

.footer-logo img {
    display: inline-block;
    width: 100px;
    height: auto;
    margin: 0 auto 10px auto;
}

.footer-icons {
    display: inline-block;
    margin-top: 20px;
}

.footer-icons img {
    display: inline-block;
    width: 30px;
    height: auto;
    margin: 5px;
}
	/*Tablet Version*/

@media only screen and (min-width: 768px) {

	.logo img {
		height: auto; 
		width: 100px;
	}
	
	.hero-pic {
		height: auto;
		width: 100%;
	}

	h2 {
		padding-bottom: 10px; 
		font-size: 35px;
	}

	.menu-off-canvas {
		width: 400px;
		margin-right: -500px;
		font-size: 40px;
	}

	.menu-off-canvas li {
		margin: 40px;
	}

	.nav-toggle {
		top: 20px;
	}

	.shopping-bag-off-canvas {
		width: 300px;
		position: fixed;
		margin-left: -400px;
		left: 0px;
		padding: 30px 50px;
		transition: margin 1s;
		background-color: #fff;
	}
	
	.shopping-bag-off-canvas img {
		width: 100%;
		margin-bottom: 30px;
	}

	.slide-items a {
		margin-right: 8px;
	}

	.product-background-slider {
		background-color: #EEE;
		padding: 30% 10% 20% 10%;
		margin-right: 10px;
	}

	.product-background-slider img {
		margin-bottom: 50px;
	}

	.footer-container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, minmax(200px, 1fr));
        grid-template-areas:
        "foot foot foot foot";
        }

    .footer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        background-color: #eee;
    }

    .footer > div {
        margin: 5px;
        text-align: center;
        line-height: 2;
    }

    .footer-logo {
        display: inline-block;
        margin-left: 0;
    }

    .footer-logo img {
    display: block;
    width: 200px;
    }

    .footer-icons {
        margin-right: 0;
    }
}

	/* Desktop Version */

@media only screen and (min-width: 1200px) {

		.wrapper-desktop {
			display: block;
			width: 100%;
			margin: 0 auto;
		}

		.logo img {
			height: auto; 
			width: 100px;
		}

		.header-mobile {
			display: none;
		}

		.nav-logo img {
	        position: fixed;
	        top: 15px;
	        left: 20px;
	        width: 100px;
	        height: auto;
	        z-index: 101;
	    }

	    .nav-shop-icon img {
	        position: fixed;
	        top: 15px;
	        right: 20px;
	        width: 40px;
	        height: auto;
	        z-index: 101;
	    }

		.menu {
	        position: fixed;
	        top: 0;
	        left: 0;
	        margin: 0 auto;
	        width: 100%;
	        background-color: white;
	    }

	    .menu ul {
	        list-style: none;
	        text-align: center;
	    }

	    .menu li {
	        display: inline-block;
	        padding: 20px;
	    }

	    .menu a {
	        font-size: 24px;
	        color: #000;
	        text-decoration: none;
	    }

	    .menu a:hover, .menu a:active{
	        border-bottom: 2px solid #000;
	        padding-bottom: 0;
	    }
		
		.hero-pic {
			height: auto;
			width: 100%;
			margin-top: -100px;
		}

		.shopping-bag-off-canvas-desktop {
			width: 500px;
			position: fixed;
			margin-right: -600px;
			right: 0px;
			padding: 30px 50px;
			font-size: 20px;
			transition: margin 1s;
			background-color: #fff;
		}

		.shopping-bag-off-canvas-desktop img {
			width: 100%;
			margin-top: 60px;
			margin-bottom: 10px;
		}

		.shopping-bag-off-canvas-desktop p {
			width: 100%;
			margin-bottom: 10px;
			text-align: center;
			border-bottom: 1px solid #000;
			padding-bottom: 10px;
		}

		.shopping-bag-desktop {
			display: block;
			position: fixed;
			top: 5px;
			height: 32px;
			width: 40px;
			right: 0;
			cursor: pointer;
			z-index: 99;
			transition: margin 1s;
		}

		.shopping-bag-desktop img {
			position: fixed;
			display: block;
			height: 40px;
			width: 40px;
			transition: all 1s;
			z-index: 1;
			right: 15px;
			top: 15px;
		}

		#shopping-bag-desktop:checked ~ .shopping-bag-desktop {
			margin-right: 0px;
		}

		#shopping-bag-desktop:checked ~ .shopping-bag-desktop img {
			margin-right: 0px;
		}

		#shopping-bag-desktop:checked ~ .shopping-bag-off-canvas-desktop {
			margin-right: 0px;
		}

		/* Desktop products */

		.slide-items a {
			margin-right: 10px;
		}

		.product-background-slider {
			background-color: #EEE;
			padding: 30% 10% 20% 10%;
			margin-right: 10px;
		}

		.product-background-slider img {
			margin-bottom: 50px;
		}
		
		.blog-post1 {
			margin: 50px 50px 80px 30px; 
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
		}
		
		h2 {
			padding-bottom: 10px; 
			font-size: 35px;
		}	

			/* Blog post 2 */

		.blog-post2 {
			margin: 50px 30px 60px 50px; 
			display: flex;
			align-items: center;
		}

		.post-text {
			padding: 0 20px;
		}

			/* Footer */

		.footer-container {
			background-color: #eee;
		    grid-template-columns: repeat(4, 1fr);
		    grid-template-rows: repeat(1, minmax(200px, 1fr));
		    grid-template-areas:
		    "foot foot foot foot";
	    }

	    .footer {
	        grid-template-columns: repeat(4, 1fr);
	        grid-template-rows: 1fr;
	    }

	    .footer > div {
	        margin: 5px;
	        text-align: center;
	        line-height: 2;
	    }

	    .footer-logo {
	        display: block;
	        margin-right: 0;
	    }

	    .footer-logo img {
	        display: block;
	        width: 200px;
	    }

	    .footer-icons {
	        margin-left: 0;
	    }
}