
/* CSS för både mobile/tablet/desktop */

section {
    border: 2px solid darkgrey;

}


.section4bilder {

padding-top: 50px;

}


.arprice {
  color: black;
  font-size: 2vw;
  font-weight: bolder;
  background-color: white;
  border: 2px solid grey;
}

.lookbutton {
  border: 2px solid darkgrey;
  border-radius: 90px;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: lightgrey;
  text-align: center;
  width: 100px;
  height: 75px;
  margin: 5px;
  font-size: 18px;

}

.buybutton {
  border: 5px solid darkgrey;
  border-radius: 90px;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: lightgrey;
  text-align: center;
  width: 150px;
  height: 100px;
  margin: 5px;
  font-size: 30px;
}


.lookbutton:hover {
  opacity: 0.7;
  cursor:all-scroll;
  background-color:lightsteelblue;
}


.buybutton:hover {
  opacity: 1;
  cursor: pointer;
  background-color:burlywood;
  color:gainsboro;

}


img {
  width: 100%;
  height: auto;

}


/* Sections */ 


.section2 {
    grid-area: box1;
}

.section3 {
    grid-area: box2;
}

.section4 {
    grid-area: box3;
}

.section5{
    grid-area: content;
}

.section6 {
    grid-area: sidebar;
}

.section7 {
    
    grid-area: footer;
    border: 1px solid black;
    padding: 20px;
}



/* Breda desktopskärmar */ @media only screen and (min-width: 1200px) {


/* Text specifikt för Desktop */ 


.header-mobile {
    display: none;
}

div.producttextdesktop

{
    text-align: left;
    padding: 10px;

}

div.abouttextdesktop

{

text-align: justify;
padding:20px;
font-size: 1.5vw;

}

/* Bild endast för tablet*/ 

div.tabletbild 
{
    display: none;
}


/* Container som används specifikt för Desktops*/

.container{


    margin-top: 200px;
    text-align: center;
    display: grid;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 200px;
    grid-gap: 2%;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 

"box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3" 
"content content content content content content content content content sidebar sidebar sidebar" 
"footer footer footer footer footer footer footer footer footer footer footer footer";


}


.box1 { grid-area: box1; }
.box2 { grid-area: box2; }
.box3 { grid-area: box3; }
.content { grid-area: content; }
.sidebar { grid-area: sidebar; }
.footer {grid-area: footer; }
.section7 {
    
    grid-area: footer;
    display: grid;
    width: 100%;
    padding: 2px;
    height: 100%;
    grid-template-columns: repeat(4,1fr );
    grid-template-rows: 100px;
    grid-row-gap: 10%; 
    grid-column-gap: 2.5%;
    grid-template-areas: "footer1 footer2 footer3 footer4";                     
  }


 }


/* Tablets/iPad */ @media only screen and (min-width: 768px) and (max-width: 1199px) {


/* Funktioner endast för tablet-utseendet */ 


div.tabletproducttext 
{

display: justify;

padding: 10px;
}

div.tabletbild 
{
  display: block;
  margin-top: 65px;
}


/* Container som används specifikt för tablets */

.container {
    text-align: center;
    display: grid;
    height: 100%;
    margin: 20px;
    grid-gap: 2%;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(6, minmax(200px, 1fr));
    grid-template-areas: 
     
        "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3" 
        "content content content content content content sidebar sidebar sidebar sidebar sidebar sidebar";
    
}


.box1 { grid-area: box1; }
.box2 { grid-area: box2; }
.box3 { grid-area: box3; }
.content { grid-area: content; }
.sidebar { grid-area: sidebar; }


}


/* Mobiltelefoner/iPhone */ @media only screen and (max-width: 767px) {

/* Funktioner som ej används för Mobiltelefoner/iPhone */

div.tabletbild 
{
    display: none;
}

  div.desktoptext 
  {
    display: none;
  }


/* Funktioner som används specifikt för Mobiltelefoner/iPhone */


div.producttextmobile 
{

  font-size: 4.5vw;
  padding: 15px;
 
 }


div.articleproducttextmobile

{

 font-size: 4vw;
  padding: 15px;
  margin-top: 100px;
 
}

div.mobilebild 
{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}


div.mainmobilebild

{display: block;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  margin-top: 60px;
}

/* Container som används specifikt för Mobiltelefoner/iPhone */

.container {
    text-align: center;
    display: grid;
    width: 90%;
    margin: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, minmax(200px, 1fr));
    grid-gap: 2% 2%;
    grid-template-areas: 
   
    "box1 box1 box1 box1"
    "box2 box2 box2 box2"
    "box3 box3 box3 box3"
    "content content content content"
    "sidebar sidebar sidebar sidebar";  
}



}




    